<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agent.Properties.Settings.ПользователиConnectionString"
            connectionString="Data Source=DESKTOP-FOFSKN1\SQLEXPRESS;Initial Catalog=Пользователи;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Agent.Properties.Settings.AgentConnectionString" connectionString="Data Source=DESKTOP-I6B20A1;Initial Catalog=Agent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>